.suggest-title{
    font-weight: 700;
    padding: 0 10px 8px;
}

.suggest-list{
    position: absolute;
    width:var(--search-width);
    max-height: 300px;
    z-index: 5;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 6px 0 rgba(32, 33, 36, .28);
    padding: 13px 10px;
    background-color: var(--primary-bg);
    color: var(--white);
    overflow-y: auto;

    div {
            max-height: 100%;
            overflow: hidden;
        }
}

.suggest-item{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    white-space: nowrap;
    cursor: pointer;
    &:hover{
        background-color: var(--alpha-bg);
    }

    .icon-up{
        color: var(--text-secondary);
        margin-right: 10px;
        opacity: 0.5;
        padding-bottom: 0;
    }
}

.item-title{
    font-weight: 400;
}