.container{
    margin-top: 110px;
}

.title-header{
    color: var(--text-primary);
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.livestream-schedule{
    display: flex;
    border-radius: 8px 8px 0 0;
    margin-top: 48px;
}

.header {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    letter-spacing: 1px;
    padding-left: 10px;
    white-space: nowrap;
}

.body {
    background-color: var(--alpha-bg);
    border-radius: 8px 0 0 8px;
    overflow: hidden;
}

.card {
    height: 80px;
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    position: relative;
}

.content {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 999px;
    &:hover{
        .image{
            background-color: #ccc;
            opacity: 0.6;
        }
    }
}

.image {
    height: 60px;
    width: 60px;
    border-radius: 999px;
    overflow: hidden;
    figure {
        background-color: var(--loading-bg);
    }
}
